<template>
	<v-row justify="center">
		<v-dialog v-model="dialog" persistent width="1024">
			<template v-slot:activator="{ props }">
				<v-btn color="white" v-bind="props">
					Adicionar Aluno
					<PlusBtn />
				</v-btn>
			</template>
			<v-card>
				<v-card-title>
					<span class="text-h5">Informações do Aluno</span>
				</v-card-title>
				<v-card-text>
					<v-form>
						<v-row>
							<v-col cols="12">
								<v-text-field
									label="Nome *"
									v-model="formData.nome"
									required
								></v-text-field>
							</v-col>

							<v-col cols="12">
								<v-text-field
									label="Matrícula *"
									v-model="formData.matricula"
									required
								></v-text-field>
							</v-col>
							<v-col cols="12">
								<v-text-field
									label="Hobbies*"
									v-model="formData.hobbies"
									required
								></v-text-field>
							</v-col>
						</v-row>
					</v-form>
					<small>*Campos Requeridos</small>
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="blue-darken-1" variant="text" @click="dialog = false">
						Fechar
					</v-btn>
					<v-btn color="blue-darken-1" variant="text" @click="saveStudent">
						Salvar
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</v-row>
</template>

<script>
import PlusBtn from "@/components/PlusBtn.vue";
import { createStudent } from "@/services/students.js";
export default {
	data: () => ({
		dialog: false,
		formData: {
			nome: "",
			matricula: "",
			hobbies: "",
		},
	}),
	components: {
		PlusBtn,
	},
	methods: {
		async saveStudent() {
			console.log(this.formData);
			await createStudent(this.formData);
			alert("Aluno criado com sucesso!");
			this.dialog = false;
			this.$emit("refreshStudents");
		},
	},
	emits: ["refreshStudents"],
};
</script>
