<template>
  <div class="greetings">
    <h1 class="green">{{ msg }}</h1>
    <h3>
      Você chegou no treinamento de dev 2024 da
      <a href="http://instagram.com/equipesiga_ufrj" target="_blank" rel="noopener">Equipe Siga</a>
    </h3>
  </div>
</template>


<script>
export default {
  props: {
    msg: {
      type: String,
      required: true,
    }
  }
}
</script>

<style scoped>
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  position: relative;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
  color: black;
}

.greetings h1,
.greetings h3 {
  text-align: center;
}

@media (min-width: 1024px) {
  .greetings h1,
  .greetings h3 {
    text-align: left;
  }
}
</style>
