<template>
	<v-card v-if="!editMode">
		<v-card-item>
			<div>
				<v-card-title
					>{{ student?.nome }} - {{ student?.matricula }}</v-card-title
				>
				<v-card-subtitle>{{ student?.situacaoMatricula.nome }}</v-card-subtitle>
				<v-card-subtitle>Meus Hobbies</v-card-subtitle>
				<v-card-text>{{ student?.hobbies }}</v-card-text>
			</div>
		</v-card-item>

		<v-card-actions class="buttons">
			<v-btn class="editBtn" @click="enableEditStudent">editar</v-btn>
			<v-btn class="deleteBtn" @click="deleteStudent">deletar</v-btn>
			<v-btn
				v-if="
					student.situacaoMatricula?.nome !== 'Cancelado' &&
					student.situacaoMatricula.nome !== 'Formado'
				"
				class="cancelBtn"
				@click="cancelRegistration"
				>cancelar</v-btn
			>
		</v-card-actions>
	</v-card>

	<v-card v-if="editMode">
		<v-card-item>
			<v-text-field v-model="updatedStudent.nome" label="Nome" />
			<v-text-field v-model="updatedStudent.matricula" label="Matrícula" />
			<v-text-field v-model="updatedStudent.hobbies" label="Hobbies" />
		</v-card-item>

		<v-card-actions class="buttons">
			<v-btn class="editBtn" @click="saveStudent">editar</v-btn>
			<v-btn class="cancelBtn" @click="enableEditStudent">cancelar</v-btn>
		</v-card-actions>
	</v-card>
</template>

<script>
import {
	cancelStudentRegistration,
	createStudent,
	deleteStudentByMatricula,
	editStudent,
} from "@/services/students.js";

export default {
	data() {
		return {
			editMode: false,
			jean: false,
		};
	},
	computed: {
		updatedStudent: {
			get() {
				return this.$props.student;
			},
			set(value) {
				this.$props.student = value;
			},
		},
	},
	props: {
		student: {
			type: Object,
			required: true,
		},
	},
	methods: {
		enableEditStudent() {
			this.editMode = !this.editMode;
		},

		async saveStudent() {
			const params = {
				id: this.student.id,
				nome: this.student.nome,
				matricula: this.student.matricula,
				hobbies: this.student.hobbies,
				situacaoMatricula: this.student.situacaoMatricula,
			};
			await editStudent(params);
			this.enableEditStudent();
		},
		async deleteStudent() {
			await deleteStudentByMatricula(this.student.matricula);
			this.$emit("refreshStudents");
		},
		async cancelRegistration() {
			const response = await cancelStudentRegistration(this.student.matricula);

			if (response.status != 200) {
				alert(response.message);
				return;
			}
			alert(response.data);
			this.$emit("refreshStudents");
		},
		checkRegistrationStatus() {
			console.log("checando situação da matrícula...");
			console.log(this.student.situacaoMatricula);
			if (
				this.student.situacaoMatricula?.nome === "Cancelado" ||
				this.student.situacaoMatricula.nome === "Formado"
			) {
				return false;
			}
			return true;
		},
	},
	emits: ["refreshStudents"],
};
</script>

<style scoped>
.v-card {
	width: 344px;
	height: 50%;
	max-height: 52%;
	background-color: mediumseagreen;
	color: rgb(232, 230, 227);
}

.buttons {
	display: flex;
	justify-content: flex-end;
	gap: 8px;
}

.editBtn {
	background-color: blue;
}

.deleteBtn {
	background-color: red;
}

.cancelBtn {
	background-color: yellow;
	color: black;
}
</style>
