<template>
  <header>
    <img alt="Vue logo" class="logo" src="./assets/logo.png" width="125" height="125" />

    <div class="wrapper">
      <HelloWorld msg="Você conseguiu!" />
    </div>

  </header>


  <main class="cardContainer">


    <div  class="addBtn">
      <DialogForm @refreshStudents="getStudents"/>
    </div>

    <v-container>
      <v-row align="center" justify="center">
        <v-col v-for="(student, i) in students" :key="i" cols="auto" align-self="auto" >
          <StudentCard :student="student" @refreshStudents="getStudents"/>
        </v-col>
      </v-row>
    </v-container>
  </main>
</template>



<script>
import HelloWorld from './components/HelloWorld.vue'
import StudentCard from './components/StudentCard.vue'
import {getAllStudents} from "@/services/students.js";
import PlusBtn from "@/components/PlusBtn.vue";
import DialogForm from "@/components/DialogForm.vue";

export default {
  components: {
    DialogForm,
    PlusBtn,
    HelloWorld,
    StudentCard
  },
  data() {
    return {
      students: [],
      enableEnterInfo: false
    }
  },
  methods:{
    async getStudents() {
      const students = await getAllStudents();
      this.students = students;
    },
    toggleEnterStudentInfo() {
      console.log(this.enableEnterInfo)
      this.enableEnterInfo = !this.enableEnterInfo;
    },
    enterStudentsInfo() {

    }
  },
  created() {
    this.getStudents();
  }
}
</script>

<style scoped>
header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }
}

.cardContainer {
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

}

.cardContainer::-webkit-scrollbar {
  display: none;
}


.addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;

}

.modal {
  background-color: yellow;
}

</style>
